body {
    background-color: #ebeff5;
}

#dozen {
    background-color: #FFF;
    padding-left: 30px;
}

.ingredients {
    width: 30%;
}

.instructions {
    width: 60%;
}

.checked {
    color: orange;
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}