{% extends 'base/main.html' %}
{% load static %}
{% block content%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

    .my-title-card {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 50px;
        background-color: rgb(53, 53, 53);
        font-family: 'Poppins', sans-serif;
        border-radius: 25px;
        border: 2px solid rgb(53, 53, 53);
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .dozen {
        background-color: #fff;
        padding-left: 30px;
        font-family: 'Poppins', sans-serif;
    }
</style>

<div class="dozen" style="padding-top: 30px; padding-bottom: 30px;">
    <div stlye="background-color: #fff">
        <div class="my-title-card">
            <img src="{% static 'images/dozen-icon.png'%}" height="200px">
            <h1 style="font-size: 100px; color: #fff;">My Daily Dozen</h1>
        </div>
    </div>
</div>

<form class="dozen" action="" method="POST">
    <div class="row">
        <h5 class="col">Beans</h5>
        <div class="col">
            <div>
                <div class="col">
                    {% csrf_token %}
                    {{formset.management_form}}
                    {% for form in formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Greens</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{green_formset.management_form}}
                    {% for form in green_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Berries</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{berry_formset.management_form}}
                    {% for form in berry_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Nuts</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{nut_formset.management_form}}
                    {% for form in nut_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Flax</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{flax_formset.management_form}}
                    {% for form in flax_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Cruciferous Vegetables</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{cveg_formset.management_form}}
                    {% for form in cveg_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Other Vegetables</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{veg_formset.management_form}}
                    {% for form in veg_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Fruits</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{fruit_formset.management_form}}
                    {% for form in fruit_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Herbs and Spices</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{herb_formset.management_form}}
                    {% for form in herb_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <h5 class="col">Whole Grains</h5>
        <div class="col">
            <div>
                <div class="col">
                    {{grain_formset.management_form}}
                    {% for form in grain_formset %}
                    {{form}}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div style="text-align: center;">
        <button class="btn btn-success btn-lg" type="submit">Enter My Day</button>
    </div>
    <hr>


</form>
{% endblock %}