{% extends 'base/main.html' %}
{% load static %}
{% block content%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

    .my-title {
        text-align: center;
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-size: 80px;
    }
</style>

<br>

<div class="card text-center">
    <h1 class="my-title">Your Data</h1>
    <canvas id="myChart" width="400" height="200">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script id="dozen">
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for input in inputs %} '{{ input.date }}', {% endfor %}],
                datasets: [{
                    label: 'Daily food spending',
                    data: [{% for input in inputs %} '{{ input.dailyCost }}', {% endfor %}],
                borderWidth: 1,
                borderColor: '#FF6384',
            },
                {
                    label: 'Daily Calories',
                    data: [{% for input in inputs %} '{{ input.dailyCalories }}', {% endfor %}],
                borderWidth: 1,
                yAxisID: 'big',
                borderColor: '#36A2EB',
            }]
        },
                options: {
                responsive: true,
                layout: {
                    padding: 100,
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Food Cost [$]',
                            size: 20,
                        }
                    },
                    big: {
                        beginAtZero: true,
                        position: 'right',
                        title: {
                            display: true,
                            text: 'Calories',
                            size: 20,
                        }
                    }
                }
            }
    });
        </script>


    </canvas>
</div>

{% endblock %}