{% extends 'base/main.html' %}
{% load static %}
{% block content%}
<br>
<div class="card text-center">
    <h1>WHOLE FOODS PLANT-BASED RECIPES</h1>
</div>

<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
                <a class="btn btn-primary" href="{% url 'add_recipe' %}">Add Recipe</a>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Rating</th>
                </tr>

                {% for recipe in recipes %}
                <tr>
                    <td><a href="{% url 'view_recipe' recipe.id %}">{{recipe.title}}</a></td>
                    <td>{{recipe.author}}</td>
                    <td>{{recipe.description}}</td>
                    <td>{{recipe.avg_rating}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
    </div>
</div>

{% endblock %}