{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-6" style="padding-left: 30px;">
        <div class="card card-body">
            <tr>
                <h1 style="text-align: center;">{{recipe.title}}</h1>
                <h5 style="text-align: center;">Average Rating: {{recipe.avg_rating}}</h5>
                <h5 style="text-align: center;">By {{recipe.author}}</h5>

                <img src="{{recipe.pic.url}}" width="650" style="margin: auto;">
            </tr>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-body" style="padding-right: 50px;">
            <h5>{{recipe.description}}</h5>
            <div class="ingredients p-3">
                <h2>Ingredients</h2>
                <p>{{ recipe.ingredients|safe }}</p>
            </div>
            <div class="instructions p-3">
                <h2>Instructions</h2>
                <p>{{ recipe.instructions|safe }}</p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="card card-body">
    <h1>Reviews and Ratings</h1>
    <hr>
    {% for comment in comments %}

    <div class="col">
        <th>Author: {{ comment.user }}</th>
        {% if comment.rating.score == 1 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% elif comment.rating.score == 2 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% elif comment.rating.score == 3 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% elif comment.rating.score == 4 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        {% elif comment.rating.score == 5 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        {% endif %}
    </div>
    <div class="col">{{ comment.text }}</div>
    <hr>
    {% endfor %}
</div>
<br>

<div class="card card-body">
    <div class="col text-center">
        <h5>Add your review: </h5>
        <form class="rate-form" action="" method="POST" id="{{recipe.id}}">
            {% csrf_token %}
            <button type="submit" class="fa fa-star my-btn" id="first"></button>
            <button type="submit" class="fa fa-star my-btn" id="second"></button>
            <button type="submit" class="fa fa-star my-btn" id="third"></button>
            <button type="submit" class="fa fa-star my-btn" id="fourth"></button>
            <button type="submit" class="fa fa-star my-btn" id="fifth"></button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="Submit">
        </form>
    </div>
</div>
<br>
<br>

{% endblock %}